<!DOCTYPE html>
<html>
<head>
    <title>Restaurant Dashboard</title>
</head>

<body>

    <h1>Restaurant Dashboard</h1>

    <div id="orders-container"></div>

    <script>
        fetch("/api/restaurant/orders")
        .then(response => response.json())
        .then(orders => {

        const ordersContainer = document.getElementById("orders-container");

        orders.forEach(order => {

            const orderElement = document.createElement("div");

              let buttonHTML = "";

            if (order.status === "pending") {
                buttonHTML = `
                    <button onclick="changeStatus(${order.id}, 'accepted')">
                        Accept Order
                    </button>
                `;
            }
            else if (order.status === "accepted") {
                buttonHTML = `
                <button onclick="changeStatus(${order.id}, 'preparing')">
                    Prepare Order
                    </button>`
            }
            else if (order.status === "preparing") {
                buttonHTML= `
                <button onclick="changeStatus(${order.id}, 'ready')">
                    Order Ready
                    </button>`
            }

                orderElement.innerHTML = `
                <h2>Order #${order.id}</h2>
                <p>Customer ID: ${order.user_id}</p>
                <p>Total: ₦${order.total}</p>
                <p id="status-${order.id}">Status: ${order.status}</p>
                ${buttonHTML} 
            `;

            
            ordersContainer.appendChild(orderElement);
        });
    });
    function changeStatus(orderId, newStatus) {
    fetch(`/api/restaurant/orders/${orderId}/status`, {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({
            status: newStatus
        })
    })
    .then(response => response.json())
    .then(result => {
        console.log(result);

        document.getElementById(`status-${orderId}`).textContent =
            `Status: ${newStatus}`
    });
}
    </script>

</body>
</html>